<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Match</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'add_match.css' %}">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="match_number">Enter match number: </label>
        <input type="text" name="match_number">
        <br><br>
        <label for="match_location">Enter match location: </label>
        <input type="text" name="match_location" >
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>